---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/41.083064,-81.518485
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/41.0831,-81.5185"
      X-Correlation-Id:
      - 5873e1f
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 754efe3
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "5873e1f",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/5873e1f"
        }
  recorded_at: Wed, 31 Jan 2024 02:24:54 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/41.0831,-81.5185
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 51867ffd
      X-Server-Id:
      - vm-lnx-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - 754f0a8
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/41.0831,-81.5185",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -81.518500000000003,
                    41.083100000000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/41.0831,-81.5185",
                "@type": "wx:Point",
                "cwa": "CLE",
                "forecastOffice": "https://api.weather.gov/offices/CLE",
                "gridId": "CLE",
                "gridX": 91,
                "gridY": 47,
                "forecast": "https://api.weather.gov/gridpoints/CLE/91,47/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/CLE/91,47/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/CLE/91,47",
                "observationStations": "https://api.weather.gov/gridpoints/CLE/91,47/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -81.521428999999998,
                            41.080455999999998
                        ]
                    },
                    "properties": {
                        "city": "Akron",
                        "state": "OH",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 383.02008572441002
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 39
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/OHZ021",
                "county": "https://api.weather.gov/zones/county/OHC153",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/OHZ021",
                "timeZone": "America/New_York",
                "radarStation": "KCLE"
            }
        }
  recorded_at: Wed, 31 Jan 2024 02:24:54 GMT
recorded_with: VCR 6.2.0
