<%= form_with url: "/forecasts", method: :post do |form| %>
  <div class="mb-3">
    <label class="form-label">Please provide your address: </label>
    <%= form.text_field :query, class:"form-control" %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>